/*IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');


/*EVERYTHING*/

* {
  margin: 0;
  font-family: Quicksand;
  color: #FCFAFA;
}

body{
  background-color: #333138;

}

/*NAVBAR*/

.navbar{
  display: flex;
  align-items: center;

  margin-top: 1.5em;
  margin-bottom: 4em;
  margin-left: 1em;
  margin-right: 1em;

}

.navbar h1{
  padding: 1em;
  color: #333138;
  font-size: 1.5em;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  padding: 1em;
  font-size: 1.3em;
  font-weight: 600;
  color: #333138;
  transition: 200ms ease-in-out;
  
}

.navbar a:hover{
  transform: scale(1.1);
}

.nav-title{
  border-radius: 48px;
  background-color: #FCD757;
  box-shadow:  2px 2px 20px #000000;
}

.links{
  border-radius: 48px;
  background-color: #FCD757;
  box-shadow:  2px 2px 50px #000000;
}

/*CONTENT*/

.content{
  max-width: 60em;
  margin: 4em auto;
  padding: 2em;
}

.buttondiv{
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  color: #333138;
  font-weight: 600;
  padding: 1em;
  border-radius: 1.5em;
  border: none;
  background-color: #FCD757;
  transition: 200ms ease-in-out;
}

button:hover{
  transform: scale(1.1);
}

.folk-preview{
  padding: 0.5em;
  background-color: #FCD757;
  margin: 1em;
  border-radius: 1.5em;
  box-shadow:  2px 2px 15px #000000;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.folk-preview:hover{
  margin: 2em;
}

.folk-preview > h2 {
  color:#333138;
}


.home > h1 {
  text-align: center;
}

.folk-container > h1 {
  text-align: center;
}